<p id="notice"><%= notice %></p>

<p>
  <strong>Screenname:</strong>
  <%= @profile.screenname %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
<%= link_to 'Delete', method: :delete %>
