  <article class="composition">
    <section class="composition-head">
      <h2><%= link_to composition.title, composition_path(composition)%></h2>
        <small>
           <time><%= composition.created_at.to_date.strftime("%d %B, %Y")%></time>
          |
          <%= link_to 'Изменить', edit_composition_path(composition)%>
          |
          <%= link_to 'Удалить', composition_path(composition), method: :delete, data: {confirm: "Вы уверены ?"} %>
        </small>
    </section>
    <section class="composition-description">
      <%= composition.description %>
    </section>
  </article>
