<% if @composition.errors.any?%>
  <div class="alert alert-danger">
    <h5><%= t('commom.errors') %></h5>
    <ul>
      <% @composition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @composition do |f|%>
  <div class="form-group">
    <%= f.label :'Название' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :'Описание'%>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.submit 'Сохранить',class:'btn btn-primary'%>
    <%= link_to 'Назад', :back, class:'btn btn-outline-secondary'%>
  </div>
<% end %>