<div class="composition">
  <section class="composition-head">
    <h1><%= @composition.title%></h1>
    <small>
      <time><%= @composition.created_at.to_date.strftime("%d %B, %Y")%></time>
      |
      <%= link_to t('common.edit') , edit_composition_path(@composition)%>
      |
      <%= link_to t('common.delete'), composition_path(@composition), method: :delete, data: {confirm: "Вы уверены ?"} %>
    </small>
  </section>

  <section class="composition-body">
    <%= image_tag @composition.image.url(:large), class: 'image-show' if @composition.image? %>
    <h4><%= t("compositions.show.descript") %></h4>
    <div class="description"><%= @composition.description %></div>
    <h4><%= t('compositions.show.text') %></h4>
    <%= @composition.content %>

  </section>


    <section class="comments">
      <div class="com">
        <div id="comment_pane">
          <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>
      </div>
    </section>


    <section class="composition-comments">
      <h4><%= t('comments.panel') %></h4>
      <%= form_with model: [@composition, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class: "form-control" %>
          <%= f.submit t('comments.coment'),class:'btn btn-primary', id: 'chat-btn'%>
        </div>
      <% end %>
    </section>


</div>
