<article class="composition">
  <section class="composition-head">
    <h1><%= @composition.title%></h1>
    <small>
      <time><%= @composition.created_at.to_date.strftime("%d %B, %Y")%></time>
      |
      <%= link_to t('common.edit') , edit_composition_path(@composition)%>
      |
      <%= link_to t('common.delete'), composition_path(@composition), method: :delete, data: {confirm: "Вы уверены ?"} %>
    </small>
  </section>

  <section class="composition-body">

    <%= image_tag @composition.images.url(:large), class: 'img-show' if @composition.images?  %>
    <%= @composition.description %>
  </section>
</article>
