<h1><%= t('admin.user.index.title') %></h1>

<section id="categories">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th><%= t('admin.user.index.email') %></th>
      <th><%= t('admin.user.index.valid') %></th>
      <th><%= 'Забанен?'%></th>

      <th><%= t('admin.user.index.edit') %></th>
      <th><%= t('admin.user.index.view') %></th>
      <th><%= t('admin.user.index.users_posts') %></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.ban %></td>
      <td>
        <%= link_to t('admin.user.index.set_admin'), edit_admin_user_path(user), class: 'btn btn-outline-primary btn-sm'%>
      </td>
      <td>
        <%= link_to t('admin.user.index.view'), admin_user_profiles_path(user), class: 'btn btn-outline-primary btn-sm'%>
      </td>
      <td>
        <%= link_to t('admin.user.index.posts'), admin_user_compositions_path(user), class: 'btn btn-outline-primary btn-sm'%>
      </td>
      <td>
      </td>
    <% end %>
      </tr>


  </table>
</section>